# 1.

In [15]:
import pandas as pd
pd.__version__

import numpy as np

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
names = ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
dataframe = pd.read_csv(url, delimiter='\t')

## A.

In [17]:
dataframe.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### B.

In [19]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### C.

In [32]:
dataframe.describe()

#   info                                   describe
#
#  -shows class type                       -doesn't show class type
#  -shows the number of entries            -doesn't show the number of entries
#  -shows number of columns                -doesn't show the number of columns
#  etc.

#  -doesn't show statistics information    -shows statistics information about first two columns such as mean, max, count

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### D.

In [44]:
mylist = list(dataframe.columns.values)
print(mylist)
print(len(dataframe.columns))

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
5

### E.

In [46]:
dataframe.head()
# Valorile de index nu sunt unice. Se poate observa ca id_ul 1 apare de 4 ori.

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### F.

In [57]:
dataframe = dataframe.sort_values('item_name')
dataframe.head()
dataframe.count

<bound method DataFrame.count of       order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
1279       520         1  6 Pack Soft Drink
4363      1742         1  6 Pack Soft Drink
3132      1248         1  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
1916       774         1  6 Pack Soft Drink
1922       776         1  6 Pack Soft Drink
1937       784         1  6 Pack Soft Drink
3836      1537         1  6 Pack Soft Drink
298        129         1  6 Pack Soft Drink
3422      1373         1  6 Pack Soft Drink
553        230         1  6 Pack Soft Drink
3875      1554         1  6 Pack Soft Drink
2389       949         1  6 Pack Soft Drink
4522      1798         1  6 Pack Soft Drink
4527      1800         1  6 Pack Soft Drink
4174      1666         1  6 Pack Soft Drink
4535      1803         1  6 Pack Soft Drink
4169      1664         1  6 Pack Soft Drink
3010      1196         1  6 Pack Soft Drink
2108       849         1  6 Pack Soft Drink
3886      1558         1  6 Pack Soft Drink
1976       798         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
3633      1454         1  6 Pack Soft Drink
1167       481         1  6 Pack Soft Drink
1260       511         1  6 Pack Soft Drink
1124       465         1  6 Pack Soft Drink
...        ...       ...                ...
3163      1263         1       Veggie Salad
2996      1192         1       Veggie Salad
2756      1094         1       Veggie Salad
1694       686         1       Veggie Salad
4084      1635         1       Veggie Salad
2269       913         1  Veggie Salad Bowl
4541      1805         1  Veggie Salad Bowl
186         83         1  Veggie Salad Bowl
4201      1677         1  Veggie Salad Bowl
1884       760         1  Veggie Salad Bowl
455        195         1  Veggie Salad Bowl
3223      1289         1  Veggie Salad Bowl
3293      1321         1  Veggie Salad Bowl
2223       896         1  Veggie Salad Bowl
960        394         1  Veggie Salad Bowl
295        128         1  Veggie Salad Bowl
4573      1818         1  Veggie Salad Bowl
2683      1066         1  Veggie Salad Bowl
496        207         1  Veggie Salad Bowl
4109      1646         1  Veggie Salad Bowl
1316       536         1  Veggie Salad Bowl
2156       869         1  Veggie Salad Bowl
4261      1700         1  Veggie Salad Bowl
738        304         1  Veggie Soft Tacos
3889      1559         2  Veggie Soft Tacos
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description item_price
3389                                        [Diet Coke]    $12.98
1279                                           [Sprite]     $6.49
4363                                        [Diet Coke]     $6.49
3132                                        [Diet Coke]     $6.49
341                                         [Diet Coke]     $6.49
1849                                             [Coke]     $6.49
1860                                        [Diet Coke]     $6.49
1916                                        [Diet Coke]     $6.49
1922                                             [Coke]     $6.49
1937                                        [Diet Coke]     $6.49
3836                                             [Coke]     $6.49
298                                            [Sprite]     $6.49
3422                                             [Coke]     $6.49
553                                         [Diet Coke]     $6.49
3875                                        [Diet Coke]     $6.49
2389                                             [Coke]     $6.49
4522                                        [Diet Coke]     $6.49
4527                                        [Diet Coke]     $6.49
4174                                             [Coke]     $6.49
4535                                         [Lemonade]     $6.49
4169                                        [Diet Coke]     $6.49
3010                                        [Diet Coke]     $6.49
2108                                             [Coke]     $6.49
3886                                        [Diet Coke]     $6.49
1976                                        [Diet Coke]     $6.49
2713                                             [Coke]     $6.49
3633                                             [Coke]     $6.49
1167                                             [Coke]     $6.49
1260                                             [Coke]     $6.49
1124                                             [Coke]     $6.49
...                                                 ...        ...
3163  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
2996  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
2756  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
1694  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
4084  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
2269  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
4541  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75
186   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
4201  [Fresh Tomato Salsa, [Fajita Vegetables, Black...    $11.25
1884  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
455   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
3223  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
3293  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
2223      [Roasted Chili Corn Salsa, Fajita Vegetables]     $8.75
960   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
295   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...    $11.25
4573  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75
2683  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
496   [Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...    $11.25
4109  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
1316  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75
2156  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4261  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
738   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
3889  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...    $16.98
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...     $8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     $8.49

[4622 rows x 5 columns]>

### G.

In [59]:
dataframe['quantity'].sum()

4972

### H.

In [60]:
dataframe2 = datafrae['price']

NameError: name 'datafrae' is not defined